.header {
    height: 170px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 49.5%, rgba(233,243,252,1) 50.5%);
}

.navbar-nav {
    align-items: center;
}

.navbar-brand {
    font-size: 40px;
    font-weight: bold;
    color: #2A4AC8;
}

.nav-link {
    color: gray;
    font-size: 25px;
    font-weight: bolder;
    padding: 0.5rem 55px !important;
}

.nav-link-button {
    line-height: 72px;
    width: 225px;
    background-color: #2A4AC8;
    border-radius: 10px;
    padding: 0 !important;
    color: white;
    text-align: center;
}

h1, nav {
    display: inline-block;
    color: #2848C6;
    padding: 0 150px;
}

#schedule .left {
    width: 50%;
    padding-left: 180px;
    position: relative;
}

#schedule .img {
    width: 50%;
    height: 1155px;
    background-image: url(https://img.freepik.com/free-photo/front-view-female-nurse-white-medical-suit-with-red-mask-injection-her-hands-blue_179666-32947.jpg);
    background-size: cover;
    background-position: center;
}

.icon-container {
    
}

.icon-bg {
    display: inline-block;
    border-radius: 5px;
    width: 38px;
    text-align: center;
}

.yellow {
    background-color: #FFF9E3;
    color: #FFD012;
}

.blue {
    background-color: #E4EBFF;
    color: #3454D2;
}

#scheduler {
    width: 65vw;
    position: absolute;
    bottom: 30px;
    
}

.scheduler-actions {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
}

.scheduler-actions > div {
    height: 205px;
}

.form-submit {
    background-color: #2A4AC8;
    color: white;
    height: 80px;
    width: 200px;
    border: none;
    border-radius: 10px;
    font-size: x-large;
    font-weight: 600;
}

#banner {
    padding: 0 150px;
    margin: 90px 0;
}

#banner img {
    width: 18%;
    filter: grayscale(0.6);
    opacity: 0.2;
}

.hcontainer {
    margin-right: 200px;
    margin-top: 160px;
}

.header-info {
    font-size: 65px;
}

.header-title {
    color: #1F3E72;
    font-size: 45px;
}

.header-content {
    color: #8C96A9;
    font-size: 27px;
}

.action-value {
    font-size: 30px;
}

#why-should {
    padding-top: 160px;
    padding-left: 180px;
    padding-right: 170px;
}

.benefit {
    height: 465px;
    width: 360px;
    border: solid #2848C6 3px;
    padding: 44px;
}

.benefit .icon {
    width: 75px;
    height: 75px;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    line-height: 75px;
}

.icon i {
    font-size: 38px;
}

.benefit-title {
    color: #1F3E72;
    font-size: 20px;
    margin-top: 40px;
}

.benefit-content {
    color: gray;
    font-size: 14px;
    margin-top: 36px;
}

footer {
    padding-top: 90px;
    padding-left: 180px;
    padding-right: 170px;
    background-color: #EEF3FF;
    font-size: 20px;
}

.footer-header {
    font-size: 30px;
    color: #3151CF;
    font-weight: 600;
}

.footer-col {
    width: 270px;
}

.footer-title {
    font-size: 26px;
    font-weight: 600;
    color: #1F3E72;
}